//workaround to centre nav bar vertically
.navbar {
  @media(min-width: 768px) {
    margin-top: 25vh;
  }
}

.nav-link {
  font-size: 15px;
  color: #535353 !important;

  @media(min-width: 768px) {
    padding: 20px 18px 20px 18px !important;
  }
}

.nav-item {
  &:hover > a {
  border-top: .5px solid #ababab;
  border-bottom: .5px solid #ababab;
  }
}


.active {
  border-top: .5px solid #ababab;
  border-bottom: .5px solid #ababab;
}

.linkedin-wrapper {
  cursor: pointer;
  width:30px;
  max-width:30px;
  height: auto;
  @media(min-width: 768px) {
    margin-top: 140px;
  }
}
