<nav class="navbar navbar-expand flex-md-column pt-1 flex-row p-md-0 pl-sm-4 pr-sm-4">
  <div class="collapse navbar-collapse">
    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
      <li class="nav-item">
        <a class="nav-link text-center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLink="/skills" routerLinkActive="active">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
    <div (click)="this.followlink.open('www.linkedin.com/in/dadadavid')" class="linkedin-wrapper">
      <img class="linkedin w-100" src="../../assets/img/linkedin-icon.png" alt="linkedin link">
    </div>
</nav>
