<nav class="navbar navbar-expand navbar-dark flex-md-column pt-1 flex-row p-md-0 pl-sm-4 pr-sm-4">
  <div class="collapse navbar-collapse">
    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
