<div class="row no-gutters h-100 animated fadeIn">

  <div class="col-md-8 d-flex flex-wrap p-5 align-content-around">
    <div class="mb-5 pt-5 pr-5">
      <h3>About:</h3>
      I like to think of my skill set as a Swiss Army knife which means that I 	have a wide variety of skills and many applications for them.
    </div>
    <div class="mb-5 pr-5">
      <h3>Hobbies:</h3>
      When im not working on projects, you can find me playing guitar, piano, learning Japanese as a (very) foreign language, and keeping active with soccer.
    </div>
    <div class="pr-5">
      <h3>Freelance:</h3>
      <ul class="pl-3">
        <li>Full-stack developer</li>
        <li>Web Developer</li>
        <li>AutoCAD drafter</li>
        <li>Graphic designer</li>
        <li>Tutor: academic, music</li>
        <li>Musician: events, weddings, etc</li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 quote-overlay d-flex flex-wrap p-5 p-md-4 p-lg-5">
    <div class="align-self-center justify-content-center quote-text pl-lg-3">
      "There is no such thing as spare time, everything you do is drawing from your finite time on earth&#8212;even reading this quote"
      <br>- Me
    </div>
    <div class="align-self-center justify-content-center pb-md-0 pt-5 quote-text pl-lg-3">
      "Being a great writer means being able to write fake but convincing quotes on the fly"
      <br>- Me, right now
    </div>
  </div>


</div>
