<ngx-spinner
  bdColor="rgba(0,0,0,0)"
  size = "medium"
  color = "#4d4d4d"
  type = "ball-fall"
  [fullScreen] = "true"
>
  <p style="color: #4d4d4d">loading about...</p>
</ngx-spinner>

<div class="animate__animated animate__delay-1s animate__fadeInUp container py-2">
  <div class="row">

    <div class="col-md-6 mb-5">
      <div class="card w-100 default-color-dark">
        <div class="card-body text-center">
          <h4 class="card-title white-text">About</h4>
          <p class="card-text white-text">
            <br>
            I like to think of my skill set as a Swiss Army knife which means that I have a wide variety of skills and many applications for them.
            <br><br>
            Picking up programming has allowed me to apply my passion for problem-solving and
            building things to be able to solve real-world problems and needs.
            <br>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="card w-100 default-color-dark">
        <div class="card-body text-center">
          <h4 class="card-title white-text">Future</h4>
          <div class="card-subtitle white-text">Education / Career</div>
          <p class="card-text white-text">
            <br>
            Looking towards the future, I really do believe that programming and especially
            Artificial Intelligence will continue to drive innovation; I want to be part of that innovation.
            <br><br>
            This is one of the major reasons why I've decided to pursue even more education in Computer Science.
            <br>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="card w-100 default-color-dark">
        <div class="card-body text-center">
          <h4 class="card-title white-text">Mentorship</h4>
          <div class="card-subtitle white-text">Investing in People</div>
          <p class="card-text white-text">
            <br>
            I also know the importance of mentorship. However cliché, I would not be
            where I am today without the help and quality advice of my mentors.
            <br><br>
            In the same vein, I also mentor people who are passionate about programming and are
            a eager to learn. This is one of the reasons why I often bring students and junior
            developers on to my freelance projects.
            <br>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="card w-100 default-color-dark">
        <div class="card-body text-center">
          <h4 class="card-title white-text">Entrepreneurship</h4>
          <div class="card-subtitle white-text">Business</div>
          <p class="card-text white-text">
            <br>
            As the typical Millennial Entrepreneur, I'm a big fan of self-improvement.
             When I'm not programming I'm looking for ways to improve myself in terms of
            health, wealth and the quality of relationships I have with my friends and family.
            <br><br>
            And of course because life isn't just about the
            relentless pursuit of success, money, and greatness I do also kick back
            with hobbies that I have for pure enjoyment: hiking, language learning and playing guitar.
            <br>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
