<h3>
  Hello, My name is David Dada. I like to think of my skill set as a Swiss Army knife which means that I have a wide variety of skills and many applications for them!
</h3>
<br>
<h2>Profession:</h2>
<p>As a developer, I specialize in full-stack development, leaning closer toward front-end Development.</p>

<h2>Freelance:</h2>
<p>
  As a web developer/designer I build professional websites (and produce content)<br>
  As a drafter, I draft industrial and civil designs using AutoCAD<br>
  As a graphic designer, I design company logos, business cards, and posters.<br>
  As a tutor, I tutor all of High school chemistry, math, physics, calculus<br>
  As a musician, I perform in for weddings, play in cafes collaborate with local artists on their albums.<br>
</p>
<h2>Hobbies:</h2>
<p>Music enthusiast: Guitar, Bass, Piano<br>
  Cooking: Vegan<br>
  Language: Japanese<br>
  Sports: Soccer<br>
</p>
