$cardWidth : 250px;
$cardHeight : 250px;

.wrap {
  min-height:$cardHeight;
  max-height:$cardHeight;
  min-width: $cardWidth;
  max-width: $cardWidth;
}

.shownone {
  display: none;
}

.showall {
  display: initial;
}
