<h2>PERSONAL PROJECTS</h2>
<ul>
  <li *ngFor="let post of posts">
    <a ng-class="{'class-name': active}" routerLink="{{post.slug}}">{{post.title.rendered}}</a>
    - {{post.date | date:'longDate'}}
    <div>{{post.acf.title_languages}}</div>
  </li>
</ul>


<div class="test" #test>Hello</div>
<div class="test" #test1>He22o</div>
<div ng-class="{'class-name': test}" routerLink>He22o</div>

<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start">
  <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
    <div class="wrap my-auto">
      <div class="text-center card-c reveal"
           fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%"
      >
        <img class="card-img-top" src="./assets/img/sample-icon-1.png" alt="Card image cap 1">
      </div>
    </div>
  </ng-container>
</div>

