$cardWidth : 250px;
$cardHeight : 250px;

.wrap {
  min-height:$cardHeight;
  max-height:$cardHeight;
  min-width: $cardWidth;
  max-width: $cardWidth;
}

.shownone {
  display: none;
}

.showall {
  display: initial;
}

.cardcontainer {
  transition: 0.6s ease !important;
}

.cmsLink {
  text-decoration: underline;
  cursor: pointer;
}

.small-box {
  height: 20px;
  border-radius: 3px;
  background-color: #303030;
  margin-right: 10px;
  > span {
    visibility: hidden;
    width: 100%;
    height: 100%;
  }
}

.toast {
  z-index: 40;
  position: absolute;
  top: 40px;
  right: 0;


  @media(min-width: 768px) {
    top: 0;
  }

  > div {
   padding-left: 20px;
   padding-right: 20px;
  }
}

.custom-toast-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
