<h2>PERSONAL PROJECTS</h2>


<div *ngFor="let space of [1,2,3]"><br></div>


<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start">
  <div *ngFor="let duplicate_sample_data of [1,2,3,4,5,6,7,8,9,10]">
  <ng-container *ngFor="let post of posts">
    <div *ngFor="let space of [1,2]"><br></div>
    <div class="wrap my-auto">
      <div (mouseout)="cardLower($event)"
           (mouseover)="cardRaise($event)"
           class="text-center card"
           fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%"
      >
        <img class="card-img-top reveal" src="{{post.acf.company_featured_image}}" alt="Card image cap 1">
        <div class="card-infotext">
          <div>{{post.title.rendered}}</div>
          <div>{{post.acf.title_languages}}</div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>
