$cardWidth : 200px;
$cardHeight : 200px;

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

.wrap, .card-c {
  min-height:$cardHeight;
  max-height:$cardHeight;
  min-width: $cardWidth;
  max-width: $cardWidth;
}

.card-c {
  display: block;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card-img-top {
  object-fit: cover;
  position: relative;
  top: -20px;
  width: 90%;
  height: 180px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reveal {
  transition: all .1s ease-out;
  &:hover {
    top: -40px;
  }
}








