<div class="contact-panel row col-12 no-gutters border border-primary h-100 justify-content-end">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div class="form-group row border border-secondary ml-auto col-12 col-md-8 h-100 align-content-center">
      <div class="col-12 col-md-6">
        <input type="email" class="form-control" placeholder="Name">
      </div>
      <div class="col-12 col-md-6">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="col-12">
        <input type="email" class="form-control" placeholder="Subject">
      </div>
      <div class="col-12">
        <input type="email" class="form-control" placeholder="Subject">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>
