.invalid {
  border-color: black;
}

form {
  color: white;
}

.contact-bg {
  position: fixed;
  top: 40px;
  left: -390px;

  min-width: 1300px;
  min-height: 100%;

  @media(min-width: 768px) {
    top: 0;
    left: 200px;
    min-width:100%;
  }
}

.contact-panel {
}
