<div class="jw-modal">
    <div class="jw-modal-body">
      <ng-content></ng-content>
      <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="img-wrapper">
          <img class="img-{{id}}" src="" alt="gallery image">
          <img class="img-{{id}}" src="" alt="gallery image">
          <img class="img-{{id}}" src="" alt="gallery image">
        </div>

        <a class="prev" (click)="this.nextImg(-1)">&#10094;</a>
        <a class="next" (click)="this.nextImg(1)">&#10095;</a>
      </div>
      <div class="dot-container">
        <span class="dot dot-{{id}}" (click)="this.showImg(1)"></span>
        <span class="dot dot-{{id}}" (click)="this.showImg(2)"></span>
        <span class="dot dot-{{id}}" (click)="this.showImg(3)"></span>
      </div>

      <div>{{cardObj.acf.company_title}}</div>
      <div>{{cardObj.acf.company_subtitle}}</div>
      <hr>
      <div>{{cardObj.acf.company_description}}</div>

      <div class="button-panel">
        <a href="https://facebook.com" target="_blank"><button type="button" class="btn btn-primary">Visit Site</button></a>
        <button (click)="this.modalService.close(id);" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>




</div>
<div class="jw-modal-background"></div>
