$modal-width-big: 700px;
$modal-height-big: 500px;

$modal-width-med: 500px;
$modal-height-med: 500px;

$modal-width-small: 320px;
$modal-height-small: 320px;

/* MODAL STYLES
-------------------------------*/
app-jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body {

      background: #fff;
      width: $modal-width-small;

      /* margin exposes part of the modal background */
      margin: 0 auto;
      text-align: center;

      @media(min-width: 500px) {
        width: $modal-width-med;
      }
      @media(min-width: 768px) {
        width: $modal-width-big;
      }

      > * {
        font-family: Helvetica, serif;
        color: #2B2B2B;
      }
    }
  }

  /* modal background fixed across whole screen */
  .jw-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}


/* Slide show container */
.slideshow-container {
  height: $modal-height-small;
  width: $modal-width-small;
  // object-fit: cover;
  position: relative;
  margin: auto;

  @media(min-width: 500px) {
    height: $modal-height-med;
    width: $modal-width-med;
  }
  @media(min-width: 768px) {
    height: $modal-height-big;
    width: $modal-width-big;
  }
}

.img-wrapper img {
  object-fit: contain;
  width: 100%;
  padding-top: 10px !important;
}

.img-wrapper {
  height: $modal-height-small;
  width: $modal-width-small;
  display:flex;

  @media(min-width: 500px) {
    height: $modal-height-med;
    width: $modal-width-med;
  }
  @media(min-width: 768px) {
    height: $modal-height-big;
    width: $modal-width-big;
  }
}

.prev-next-container {
  position: relative;
  top: -150px;
  @media(min-width: 768px) {
    top: -300px;
  }
}

.prev, .next {
  cursor: pointer;
  text-decoration: none;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #757575 !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: snow;
}

.prev {
  border-radius: 0 3px 3px 0;
}

.next {
  border-radius: 3px 0 0 3px;
}

.next:hover, .prev:hover {
  color: #303030 !important;
}

.dot-container {
  text-align:center;
  height: 30px;
  margin-top: -10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover, .dot-active {
  background-color: #303030;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.modal-site-btn {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: transform 1s;

  &:hover {
    transform: translate(0px, -5px);
  }
}

.modal-last-access {
  font-size: 13px;
  font-weight: 700;
  color: #535353;
}

.modal-divider {
  margin: 4px 25px;
  border: .5px solid black;
  opacity: .1;
}

.modal-company-description {
  margin: 4px 20px 20px;
}
