<div class="jw-modal">
    <div class="jw-modal-body">
      <ng-content></ng-content>
      <div class="slideshow-container">
          <div class="img-wrapper">
            <img *ngFor="let image of imageUrls" class="img-{{id}}" src="" alt="gallery image">
          </div>
        <a class="prev" (click)="this.nextImg(-1)">&#10094;</a>
        <a class="next" (click)="this.nextImg(1)">&#10095;</a>
      </div>
      <div class="dot-container">
        <span *ngFor="let dot of imageUrls; index as i" class="dot dot-{{id}}" (click)="this.showImg(i+1)"></span>
      </div>

      <div>{{cardObj.acf.company_title}}</div>
      <div>{{cardObj.acf.company_subtitle}}</div>
      <hr>
      <div>{{cardObj.acf.company_description}}</div>

      <div class="button-panel">
        <div *ngIf="cardObj.acf.live_link">
        <button (click)="this.followLink()" type="button" class="btn btn-primary">Visit Site</button>
        </div>
        <button (click)="this.modalService.close(id);" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

</div>
<div class="jw-modal-background"></div>
