/* MODAL STYLES
-------------------------------*/
app-jw-modal {
  /* modals are hidden by default */
  display: none;
  /* modal background fixed across whole screen */
}
app-jw-modal .jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;
  /* enables scrolling for tall modals */
  overflow: auto;
}
app-jw-modal .jw-modal .jw-modal-body {
  background: #fff;
  width: 500px;
  /* margin exposes part of the modal background */
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 500px) {
  app-jw-modal .jw-modal .jw-modal-body {
    min-width: 320px;
    max-width: 320px;
    width: 320px;
  }
}
app-jw-modal .jw-modal .jw-modal-body > * {
  font-family: Helvetica, serif;
  color: #2B2B2B;
}
app-jw-modal .jw-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}

.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

/* Slide show container */
.slideshow-container {
  min-width: 500px;
  max-width: 500px;
  object-fit: cover;
  position: relative;
  margin: auto;
}
@media (max-width: 500px) {
  .slideshow-container {
    min-width: 320px;
    max-width: 320px;
  }
}

.img-wrapper img {
  object-fit: cover;
  width: 100%;
}

.img-wrapper {
  min-width: 500px;
  max-width: 500px;
  width: 500px;
  height: 500px;
  display: flex;
}
@media (max-width: 500px) {
  .img-wrapper {
    min-width: 320px;
    max-width: 320px;
    width: 320px;
    height: 320px;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #757575 !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: snow;
}

.prev {
  right: 91.5%;
}
@media (max-width: 500px) {
  .prev {
    right: 87%;
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover, .prev:hover {
  color: #303030 !important;
}

.dot-container {
  text-align: center;
  height: 30px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover, .dot-active {
  background-color: #303030;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.modal-site-btn {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: transform 1s;
}
.modal-site-btn:hover {
  transform: translate(0px, -5px);
}

.modal-last-access {
  font-size: 13px;
  font-weight: 700;
  color: #535353;
}

.modal-divider {
  margin: 4px 25px;
  border: 0.5px solid black;
  opacity: 0.1;
}

.modal-company-description {
  margin: 4px 20px 20px;
}

/*# sourceMappingURL=modal.component.css.map */
