<div class="animated fadeInUp container">
<div class="row">

  <div class="col-md-6 py-2">
      <div class="card w-100 default-color-dark">
      <div class="view">
        <img src="../../assets/img/skill-laptop.jpg" class="card-img-top" alt="photo">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title white-text">Developer</h4>
        <div class="card-subtitle white-text">Full-Stack / Web Developer</div>
        <p class="card-text white-text">
          <br>
          The bulk of my skillset is comprised of front-end development, with industry expertise in
          <span class="skill-set">Javascript</span>, <span class="skill-set">SCSS</span>, and <span class="skill-set">HTML5</span>.
          I've leveraged this skill into building multiple professional <span class="skill-set">Wordpress</span> websites.
          <br><br>
          I've built multiple <span class="skill-set">single-page web-apps</span> using <span class="skill-set">TypeScript</span>, <span class="skill-set">Angular 2+</span>, and especially <span class="skill-set">Node JS</span>.
          <br><br>
          I have expertise in <span class="skill-set">Java</span>, and <span class="skill-set">C++</span>, having studied these languages for many years.
          I've also studied a little AI through the University of Helsinki.
          <br><a (click)="this.followlink.open('certificates.mooc.fi/validate/cl69rform4h')" class="certificate-link skill-set">View my certificate here.</a>
          <br><br>
          My back-end experience includes both my knowledge of <span class="skill-set">PHP</span>, <span class="skill-set">MySQL</span>, <span class="skill-set">NoSQL</span> and using open source <span class="skill-set">CMS</span>
          like <span class="skill-set">Wordpress API</span>. This of course means I both understand and implement <span class="skill-set">REST API</span> principles.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 py-2">
      <div class="card primary-color-dark w-100">
      <div class="view">
        <img src="../../assets/img/skill-pencil.jpg" class="card-img-top" alt="photo">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title white-text">Designer / Drafter</h4>
        <div class="card-subtitle white-text">Illustrator / AutoCAD</div>
        <p class="card-text white-text">
          <br>
          I double as a graphic designer, often being contracted for <span class="skill-set">logo design</span> along with <span class="skill-set">business card design</span>
          when undertaking a <span class="skill-set">website design</span> project.
          <br><br>
          The tools I use for design are <span class="skill-set">Sketch</span> for <span class="skill-set">wireframes</span> and <span class="skill-set">Adobe Illustrator</span>.
          <br><br>
          For my minor drafting projects, which are civil and industrial blueprints, I use <span class="skill-set">AutoCAD</span>.
        </p>
      </div>
    </div>
  </div>

</div>
</div>
