<ngx-spinner
  bdColor="rgba(0,0,0,0)"
  size = "medium"
  color = "#4d4d4d"
  type = "ball-fall"
  [fullScreen] = "true"
>
  <p style="color: #4d4d4d">loading skills...</p>
</ngx-spinner>

<div class="animate__animated animate__delay-1s animate__fadeInUp container py-2">
<div class="row">

  <div class="col-md-6 mb-5 mb-md-0">
    <div class="card w-100 default-color-dark">
      <img src="../../assets/img/skill-laptop.jpg" class="card-img-top" alt="photo">
      <div class="card-body text-center">
        <h4 class="card-title white-text">Developer</h4>
        <div class="card-subtitle white-text">Full-Stack / Web Developer</div>
        <p class="card-text white-text">
          <br>
          I'm currently pursuing my <span class="skill-set">Masters in Computer Science</span> with a focus in <span class="skill-set">AI & Data Science</span>.
          <br><br>
          The bulk of my skillset is comprised of front-end development, with industry expertise in
          <span class="skill-set">Typescript</span>, <span class="skill-set">SCSS</span>, and <span class="skill-set">HTML5</span>.
          <br><br>
          I've built multiple <span class="skill-set">single-page web-apps</span> using <span class="skill-set">Angular 2+</span>, <span class="skill-set">React</span>, and <span class="skill-set">Node JS</span>.
          I've also built multiple multiple professional <span class="skill-set">Wordpress</span> websites for a wide range of clients.
          <br><br>
          My back-end experience includes familiarity with <span class="skill-set">PHP</span>, <span class="skill-set">MySQL</span>
          , and a working knowledge of <span class="skill-set">NoSQL</span>
          . I'm also well versed in using <span class="skill-set">CMS</span> such as <span class="skill-set">
          Wordpress API</span> which is used in this portfolio web-app. This of course means I have a good understanding of
          <span class="skill-set">REST API</span>.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
      <div class="card primary-color-dark w-100">
      <img src="../../assets/img/skill-freelance.jpg" class="card-img-top" alt="photo">
      <div class="card-body text-center">
        <h4 class="card-title white-text">Freelance</h4>
        <div class="card-subtitle white-text">Web, App Development / CAD Drafting</div>
        <p class="card-text white-text">
          <br>
          I freelance <span class="skill-set">App and Website Development</span> though my company <span class="skill-set">Wydget</span>.
          <br>
          <a (click)="this.followlink.open('wydget.ca')" class="certificate-link skill-set">View our website here.</a>
          <br><br>
          For wireframes I use <span class="skill-set">Figma</span> and for everything else I use <span class="skill-set">Adobe Illustrator</span>.
          <br><br>
          For minor drafting projects which are civil and industrial blueprints, I use <span class="skill-set">AutoCAD</span>.
        </p>
      </div>
    </div>
  </div>

</div>
</div>
