.wrapper {
  height: 100%;
  width: 100%;
}

// hot-fix for header width being longer on mobile after height:100% to HTML and BODY
@media(max-width: 767px){
  app-header {
    max-height: 30px;
  }
}
