$cardWidth : 250px;
$cardHeight : 250px;

.card {
  min-height:$cardHeight;
  max-height:$cardHeight;
  min-width: $cardWidth;
  max-width: $cardWidth;
  display: block;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  > * {
    // stop propagation
    pointer-events: none;
  }
}

.card-img-top {
  object-fit: cover;
  position: relative;
  top: -20px;
  width: 90%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-infotext {
  position: relative;
  top: -10px;
  font-size: 11px;
}

.hovered {
  transition: all .1s ease-out;
  top: -40px;
}

.lowered {
  transition: all .1s ease-out;
  top: 0;
}

.new-project-img-wrapper {
  z-index: 30;
  position: relative;
  top: 0;
  margin-bottom: -40px;
  width: 40px;
  height: 40px;

  > img {
    object-fit: cover;
  }
}
