@import url('https://fonts.googleapis.com/css?family=Nixie+One');

$title_font: 'Nixie One';
$subtitle_font: 'Nixie One';
$white: #FFFFFF;

.hero-banner {
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
  padding-top: 150px;

  @media(min-width:767px) {
    padding-top: 215px;
  }

  h1 {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  > * {
    color: $white;
  }
}

.hero-title {
  color: #dddddd;
  font-family: $title_font, sans-serif;
  text-shadow: 2px 2px 4px #2B2B2B;
  font-size: 8vh;
  font-weight: 100;
}

.hero-subtitle {
  font-family: $subtitle_font, Helvetica, serif;
  font-weight: 500;
  color: #2B2B2B;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-size: 3vh;
}
