@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Cinzel|Montserrat+Alternates&display=swap');




.hero-banner{
  // background: url(../../assets/img/landing.png) left center no-repeat;
  //background: url(../../assets/img/bg-masthead.jpg) left center no-repeat;
  // background-size: cover;
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
  padding-top: 10px;

  @media(min-width:767px){
    padding-top: 215px;
  }

  h1{
    color: $white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  > *{
    color: $white;
  }
}

.hero-title {
  color: #dddddd;
  font-family: 'Montserrat Alternates', cursive;
  text-shadow: 2px 2px 4px #2B2B2B;
  font-weight: bolder;
  font-size: 8vh;
}

.hero-subtitle {
  font-family: 'Cinzel', Arial, serif;
  font-weight: 500;
  color: #2B2B2B;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-size: 3vh;
}
